# Dependency and build artifacts
node_modules
.next
dist

# Version control
.git
.gitignore

# Environment variables
.env
.env.*

# Editors and IDEs
.vscode
.idea

# Testing and documentation
coverage
cypress
tests
__tests__
*.md

# Docker-related files
Dockerfile*
docker-compose*.yml
.dockerignore

# Configuration files
.eslintrc*
.prettierrc*
tsconfig.tsbuildinfo
next-env.d.ts